<h1>你的购物车</h1>
{{#each cart.errors}}
<div class="alert alert-danger">{{.}}</div>
{{/each}}
<table class="table table-striped">
    <thead>
        <tr>
            <td>度假</td>
            <td>人数</td>
        </tr>
    </thead>
    <tbody>
        {{#each cart}}
        <tr>
            <td>{{product.name}}</td>
            <td>{{guests}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>