{{#section 'head'}}
<meta name='robots' content='noindex'>
{{/section}}

<h1> Test Page</h1>
<p> 测试Jquery</p>

{{#section 'jquery'}}
<script>
    $('document').ready(function(){
        $('h1').html('Jquery Works');
    });
</script>
{{/section}}